name: Building assets

on:
  release:
    types: [ created ]

jobs:
  build-assets:
    name: Build release assets - ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: Linux ARM64
            os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            binary_ext: ""

          - name: Linux x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary_ext: ""

          - name: Windows x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            binary_ext: ".exe"

          - name: Windows ARM64
            os: windows-11-arm
            target: aarch64-pc-windows-msvc
            binary_ext: ".exe"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.platform.target }}

      - name: Build
        run: |
          cargo build --release --target ${{ matrix.platform.target }}
          mv ./target/${{ matrix.platform.target }}/release/ccpmbuild${{ matrix.platform.binary_ext }} ./ccpmbuild-${{ matrix.platform.target }}${{ matrix.platform.binary_ext }}

      - name: Upload to release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "ccpmbuild-${{ matrix.platform.target }}${{ matrix.platform.binary_ext }}"
          update_latest_release: true
  
  build-container:
    name: Build release containers
    runs-on: ubuntu-latest
    needs: build-assets
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/deleranax/ccpmbuild:latest
            ghcr.io/deleranax/ccpmbuild:${{ github.event.release.tag_name }}
          build-args: |
            VERSION=${{ github.event.release.tag_name }}